ul {
    display: flex;
    flex-direction: row-reverse;
}

ul li {
    display: inline-block;
    position: relative;
    list-style: none;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border: 1px solid grey;
    border-radius: 25px;

    .countIndicator {
        position: absolute;
        right: 5px;
        top: -10px;
        border-radius: 50%;
        background-color: #f3a01f;
        padding: 1px 5px;
        font-size: 0.8rem;
    }

    &:hover {
        border-color: #f3a01f;
        color: #f3a01f;
        background-color: #483232;
        .countIndicator {
            color: black;
        }
    }

}

.autosave-msg {
    margin: 5px;
    padding: 10px;
}

.tool-icon {
    margin-right: 0.3rem;
}
