ul.toolbar {
    display: inline-block;
}

li.tool {
    cursor: move;
    text-decoration: none;
    list-style: none;
    padding: 10px;
    margin: 5px;
    text-align: center;
    border: 1px solid grey;
    width: 8rem;
}

.tool-icon {
    margin-right: 0.7rem;
}
