.canvasContainer {
    position: relative;
    width: 100%;
}

#canvas {
    width: 85vw;
    height: 76vh;
    border: 1px dashed grey;
    border-color: #f3a01f;
    border-radius: 5px;
    background: white;
}
